@font-face {
  font-family: mirath;
  src: url(../../font/فونت\ میراث.ttf);
}

html{
  font-family: mirath;
}


body {
  top: 0;
  margin: 0;
  font-size: 62.5%;
  sans-serif;
  color: #333;
}

.header-container {
  display: flex;
  justify-content: space-between;
}
.logo-img {
  width: 4.8rem;
  border-radius: 50%;
}
.nav-items {
  display: inline-block;
  padding: 0.8rem 0.8rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}
.nav-items:hover {
  color: #6741d9;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
.nav-last-item {
  margin-right: 2.4rem;
  background-color: #6741d9;
  border-radius: 0.8rem;
  color: #fff;
  transition: all 0.3s;
}
.nav-last-item:hover {
  color: #fff;
  background-color: #46327c;
}

.header-section {
  background-color: #f4f1fc;
}

/******** blog section ********/
.blog-tozihat {
  direction: rtl;
  font-size: 1.2rem;
  text-align: justify;
}

.blog-section-container {
  direction: rtl;
  padding: 3.2rem 9.6rem 9.6rem 9.6rem;
  background-color: #e1d9f7;
  line-height: 1.8;
}
.main-header {
  font-size: 2.4rem;
  text-align: center;
}

.third-header {
  font-size: 1.4rem;
  color: #46327c;
}
.blog-header-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-img {
  max-width: 30%;

  display: inline-block;
}